body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background-image: url('/static/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); /* Keeps the container slightly transparent */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add some shadow for emphasis */
}



header {
    background-color: #28a745;
    color: white;
    text-align: center;
    padding: 1.5rem;
}

h1 {
    margin: 0;
}

section {
    margin: 2rem;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1rem;
}

input, select, button {
    padding: 0.75rem;
    margin-top: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
    margin-top: 1.5rem;
}

button:hover {
    background-color: #218838;
}
